* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    font-family: Bungee, sans-serif;
    background: linear-gradient(-45deg, #26615D, #09615B, #14E0D4);
    
}

#form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    box-shadow: 5px 5px 5px black;
}

.title {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;

}

.input {
    min-width: 280px;
    border-radius: 22px;
    border: 2px gray solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input>input {
    width: 80%;
    border: none;
    outline: none;
    transform: translateY(-10%);
}

.btn {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.btn>button {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.btn>button:hover {
    background: linear-gradient(-45deg, #26615D, #09615B, #14E0D4);
}

#login {
    text-align: center;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
  
}

#login>a{
    text-decoration: none;
    color: black;
}

#login>a:hover{
    background: linear-gradient(-45deg, #26615D, #09615B, #14E0D4);
    border-radius: 15px;

}