* {
    margin: 0;
    padding: 0;
}


img {
    margin: 5px;
}

body {
    background-color: rgb(179, 179, 179) !important;
}

/* começo do menu */

a {
    color: white;
    text-decoration: none;
}

.logo img{
    display: flex;
    align-items: center;
    margin-right: 10vmax;
    height: 4rem;
    border-radius: 3px;
  }
  

#header {
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 167, 0.985);
    color: white;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  ul#menu {
    margin-top: 1.7vmax;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: rgba(0, 0, 167, 0.985);
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgb(255, 255, 255);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

a {
    text-decoration: none;
}

.efeito1 {
    background: rgb(255, 187, 0);
    color: rgba(0, 0, 167, 0.985);
    border: none;
    font-weight: bold;
    padding: 13px;
    margin: 10px;
    font-size: 13px;
    line-height: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    right: 35px;
}

.efeito1:hover {
    background: rgba(0, 0, 0, 0);
    color: white;
    box-shadow: inset 0 0 0 3px rgb(255, 187, 0);
    font-weight: bold;
}

/* Final do menu */

.inicio {
    width: 5rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 2vmax;
    font-family: 'Anton', sans-serif;
    font-family: 'Chewy', cursiv !important;
    font-family: 'Open Sans', sans-serif;
}

.inicio1 {
    background-color: rgb(255, 187, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.inicio1 p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    margin-right: 1rem;
}

.img2 {
    width: 7rem;
    height: 9rem;
}

/* pesquisar */

.divBusca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

div.divBusca {
    display: flex;
    align-items: center;
    justify-content: center;
}

input#txtBusca {
    background-color: rgba(255, 187, 0, 0.537);
    color: rgba(0, 0, 0, 0.547);
    border-radius: 5px;
}


#txtBusca {
    display: flex;
    justify-content: center;
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 5vh;
    width: 50vw;
}

/* Promoção */
.promocao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocao img {
    width: 25vw;
}

/* carrossel */

.carrossel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.img1 {
    width: 10rem;
    height: 12rem;
}

.div {
    color: black;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

.txtdolado {
    margin: auto !important;
    align-items: center;
    font-size: 1.5vmax;
    font-family: 'Anton', sans-serif;
    font-family: 'Chewy', cursiv !important;
}

.carrossel2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    
}

.carrossel3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}